body{
background-color: pink;
}

#button{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button2{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button3{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button4{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button5{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button6{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button7{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button8{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button9{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button10{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button11{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button12{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#button13{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}#button14{
  background-color: PaleVioletRed;
  border: double;
  width: 70px;
}
#surprise {
  color: pink;
}
img{
  width: 500px;
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 40%;
 padding: 20px;
}
li{
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}
h1{
text-align: center;}
body{
  text-align: center;
}
